
projekt2_kortspil/test.html
forlob13_oop2/del3/myprogram/obj/Debug/net8.0/myprogram.GeneratedMSBuildEditorConfig.editorconfig
forlob13_oop2/del3/myprogram/obj/Debug/net8.0/myprogram.assets.cache
forlob13_oop2/del3/myprogram/obj/Debug/net8.0/myprogram.AssemblyInfoInputs.cache
forlob13_oop2/del3/myprogram/obj/Debug/net8.0/myprogram.AssemblyInfo.cs
